body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

table {
  margin-top: 10px;
  background-color: #f9f9f9;
}

th, td {
  padding: 10px;
  text-align: left;
}

button {
  cursor: pointer;
  padding: 5px 15px;
}
